body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    opacity: 0;  /* Initially hidden */
    transition: opacity 0.1s ease-in-out; /* Fade-in transition */
}

body.loaded {
    opacity: 1;  /* Fade in once the page has loaded */
}

/* Header Styles */
#header-container {
    background-color: #003366; /* Dark Blue */
    color: white;
    text-align: center;
    padding: 20px 0px;
    position: relative;
    width: 100%;
}

#header-container h1 {
    margin: 0;
    font-size: 36px;
}

#header-container p {
    font-size: 18px;
    margin: 10px 0;
}

/* Navigation Menu */
#header-container nav {
    margin-top: 15px;
}

#header-container nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block;
}

#header-container nav a:hover {
    background-color: #00509e; /* Darker blue on hover */
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Content Section */
section.content {
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-item {
    display: flex;
    gap: 20px;
    align-items: flex-start; /* Align image and text properly */
}

.content-item img {
    width: 200px;
    height: auto;
    object-fit: contain;
    border: 1px solid #ccc;
    display: none; /* Default: Hide the image if no source is provided */
}

.content-item img[src] {
    display: block; /* Display image only when src attribute is present */
}

.content-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-info p {
    margin: 5px 0;
    
}
.container .content a {
    color: #0066cc;
    text-decoration: none;
}

.container .content a:hover {
    text-decoration: underline;
}


.content-info a {
    color: #0066cc;
    text-decoration: none;
}

.content-info a:hover {
    text-decoration: underline;
}

.large-text {
    font-size: 20px; /* 원하는 크기로 설정 */
    color: blue;
}
.mid-text {
    font-size: 15px; /* 원하는 크기로 설정 */
}

.lab-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.member {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    flex: 1 1 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
.member img {
    width: 100px;
    height: auto;
    border-radius: 0;
    object-fit: contain;
    margin-right: 20px; /* Adds space between the image and text */
}
.member h3 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #333;
}
.member p {
    font-size: 15px;
    margin: 5px 0;
    color: #666;
}

.member-info {
    display: flex;
    flex-direction: column;
    text-align: left; /* Left-align by default */            
}

.member-info a {
    color: #0066cc;
    text-decoration: none;
}

.member-info a:hover {
    text-decoration: underline;
}


/* Footer Styles */
footer {
    background-color: #002244; /* Darker Blue */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* 햄버거 메뉴 추가 */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
    color: white;
    position: absolute;
    padding: 0;      /* 패딩 제거 */
    margin: 0;       /* 마진 제거 */
    top: 0;
    left: 0; /* 왼쪽 상단에 배치 */
    z-index: 1000; 
    
}

/* Publications Section */
.publications {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.publication {
    display: flex;
    gap: 20px;
}

.publication img {
    width: 200px;
    height: auto;
    object-fit: contain;
    border: 1px solid #ccc;
}

.pub-info {
    flex: 1;
}

.pub-info p {
    margin: 5px 0;
}

.pub-info a {
    color: #0066cc;
    text-decoration: none;
}

.pub-info a:hover {
    text-decoration: underline;
}

/* Responsive Menu for Smaller Screens */
@media (max-width: 768px) {
    
    #header-container {
        position: relative; /* 추가: 헤더를 위치 기준으로 설정 */
    }
    
    .menu-toggle {
        display: block; /* 햄버거 메뉴 표시 */
        top: 0;
        left: 5; /* 왼쪽 상단에 배치 */
        z-index: 1000; /* 다른 요소 위로 오도록 설정 */
    }

    #header-container nav {
        display: none; /* 기본적으로 네비게이션 숨기기 */
    }

    .menu-toggle.active + nav {
        display: block; /* 햄버거 메뉴가 활성화되면 네비게이션 표시 */
        text-align: center;
    }

    #header-container nav a {
        display: block;
        margin: 10px 0;
        width: auto;
        padding: 10px 5px;
    }

    #header-container h1 {
        font-size: 28px;
    }

    #header-container p {
        font-size: 16px;
    }

    .content-item {
        flex-direction: column; /* Stack image and text vertically on smaller screens */
    }

    .content-item img {
        width: 100%; /* Make image full-width on small screens */
        height: auto;
    }
    .member {
        flex-direction: column; /* Stack image and text vertically on small screens */
        text-align: center;
    }
    .member img {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .member-info {
        text-align: left; /* Left-align by default */            
    }
    
    .publication {
        flex-direction: column;
        align-items: left;
    }
    
    .publication img {
        max-width: 300px;
        height: auto;
    }
    .pub-info {
        text-align: left;
    }
}
}
